@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}


@font-face {
	font-family: 'weddingScriptFont';
	src: url('/media/fonts/wedding_script/Wedding.eot');
	src: local('☺'), url('/media/fonts/wedding_script/Wedding.woff') format('woff'), url('/media/fonts/wedding_script/Wedding.ttf') format('truetype'), url('/media/fonts/wedding_script/Wedding.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'weddingStarlightFont';
    src: url('/media/fonts/wedding_in_the_starlight/Wedding in the Starlight.ttf') format('truetype');
}

@font-face {
	font-family: 'palisadeFont';
    src: url('/media/fonts/palisade/Palisade.otf') format('opentype');
}

@font-face {
	font-family: 'brillantFont';
    src: url('/media/fonts/brillant/brillant.otf') format('opentype');
}


@font-face {
	font-family: 'forumFont';
    src: url('/media/fonts/forum_regular/Forum-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'WeddingSecondaryFont';
    src: url('/media/fonts/wedding_secondary/Wedding Font.ttf') format('truetype');
}


header {
	
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;

}
header .overlay{

	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    border: 1px solid #fff;

  
}

h1 {
	font-family: 'weddingStarlightFont';
    font-size: 100px;
	
}

h3{	
  font-family: 'times new roman';
}


p{
    font-family: 'brillantFont';
  
}
